Package: com.hacker.hkmodule.substrate
Name: HookKit Module (Cydia Substrate)
Pre-Depends: com.hacker.fmwk.hookkit
Depends: mobilesubstrate
Version: 1.0.8
Architecture: iphoneos-arm
Description: This module provides the Cydia Substrate API for HookKit Framework.
Maintainer: hacker
Author: hacker
Section: HookKit (Modules)
