Package: com.hacker.fmwk.hookkit
Name: HookKit Framework
Depends: firmware (>= 8.0), com.hacker.fmwk.modulous, com.hacker.fmwk.rootbridge
Version: 1.0.15
Architecture: iphoneos-arm
Description: An iOS developer framework for unified hooking methods.
Maintainer: hacker
Author: hacker
Section: Development
Tag: role::developer
