Package: com.hacker.hkmodule.substitute
Name: HookKit Module (Substitute)
Pre-Depends: com.hacker.fmwk.hookkit
Depends: com.ex.substitute | com.ex.libsubstitute | science.xnu.substitute, mobilesubstrate
Provides: com.hacker.hkmodule.substrate
Version: 1.0.10
Architecture: iphoneos-arm
Description: This module provides the Substitute API for HookKit Framework.
Maintainer: hacker
Author: hacker
Section: HookKit (Modules)
