Package: com.hacker.hkmodule.dobby
Name: HookKit Module (Dobby)
Pre-Depends: com.hacker.fmwk.hookkit
Depends: firmware (>= 14.0)
Version: 1.0.7
Architecture: iphoneos-arm
Description: This module provides Dobby library support for HookKit Framework.
Maintainer: hacker
Author: hacker
Section: HookKit (Modules)
