Package: com.hacker.hkmodule.ellekit
Name: HookKit Module (ElleKit)
Pre-Depends: com.hacker.fmwk.hookkit
Depends: ellekit
Provides: com.hacker.hkmodule.substrate
Version: 1.0.7
Architecture: iphoneos-arm
Description: This module provides the ElleKit API for HookKit Framework.
Maintainer: hacker
Author: hacker
Section: HookKit (Modules)
